<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/font-awesome.css">
    <script type="text/javascript" src="~/Content/scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Content/scripts/bootstrap.js"></script>
</head>
    <body>
        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>
